@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.title {
  color: #ffffff;
  text-shadow:
    0 0 16px rgba(59, 130, 246, 0.6),
    0 0 26px rgba(59, 130, 246, 0.4),
    0 0 40px rgba(255, 255, 255, 0.3);

  animation: glowPulse 3s ease-in-out infinite;
}

@keyframes glowPulse {
  0% {
    text-shadow:
      0 0 12px rgba(59, 130, 246, 0.4),
      0 0 20px rgba(59, 130, 246, 0.3),
      0 0 32px rgba(255, 255, 255, 0.2);
    transform: scale(1);
  }

  50% {
    text-shadow:
      0 0 22px rgba(59, 130, 246, 0.8),
      0 0 36px rgba(59, 130, 246, 0.6),
      0 0 52px rgba(255, 255, 255, 0.4);
    transform: scale(1.02);
  }

  100% {
    text-shadow:
      0 0 12px rgba(59, 130, 246, 0.4),
      0 0 20px rgba(59, 130, 246, 0.3),
      0 0 32px rgba(255, 255, 255, 0.2);
    transform: scale(1);
  }
}

.scroll {
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: #4f46e5 #1f2937; 
}

.scroll::-webkit-scrollbar {
  width: 8px; 
}

.scroll::-webkit-scrollbar-track {
  background: #1f2937; 
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #4f46e5; 
  border-radius: 8px;
  border: 2px solid #1f2937; 
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6366f1; 
}


::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;  
}

::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px; 
  border: 2px solid #1e1e1e; 
}

::-webkit-scrollbar-thumb:hover {
  background: #463cff; 
}

